# Logs
logs
*.log*

# Dependency directories
node_modules/
.npm

# Output of 'npm pack'
*.tgz

# Yarn files
.yarn-integrity

# Yarn v2
.yarn/
.pnp.*

# Build output
out
dist

# Temp and cache directory
.cache/
.temp

# Covers IDEs
.vscode/
.idea/

.DS_Store
Thumbs.db
